body {
    font-family: 'Roboto', sans-serif;
}

.scoreboard,
.announcement {
    /* background-color: #B2BF88; */
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    padding: 10px;
    gap: 80px;
}

.announcement {
    font-size: 24px;
}

.computerScoreboard,
.playerScoreboard {
    display: flex;
    flex-direction: column;
    max-width: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.computer,
.player {
    display: flex;
    font-size: 20px;
}

.playerScore,
.computerScore {
    display: flex;
    background-color: lightgray;
    font-size: 72px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.playerChoiceButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10px;
}

button {
    display: flex;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 0 darkgray;
    border-style: none;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);;
    /* box-shadow: 0 0 1rem grey; */
}